h1{
    font-size: 220%;
}
.um {
    background-image: url("../imagens/fundo.jpg");
    background-color: rgb(81, 81, 81);
    color: rgb(219, 24, 24);
}


a{
    color: aqua;
}

.dois{
align-content: center;
}

.borda-card-img{
    border: 5px;
    border-color: rgb(0, 0, 0);
}

.navbar {
    background-color: #000; 
    opacity: 0.8;
  }
  