h1{
    font-size: 220%;
}
.um{
    background-color: rgb(81, 81, 81);
    color: rgb(24, 219, 34);
}

a{
    color: aqua;
}

.dois{
align-content: center;
}

.borda-card-img{
    border: 5px;
    border-color: rgb(0, 0, 0);
}